In [2]:
import pandas as pd
import matplotlib.pyplot as plt
#from functools import reduce
import numpy as np

In [30]:
#izin usaha angkutan
jum2012=len(pd.read_csv('dataset_bandung/angkutan/dataiua2012.csv'))
jum2013=len(pd.read_csv('dataset_bandung/angkutan/dataiua2013.csv'))
jum2014=len(pd.read_csv('dataset_bandung/angkutan/dataiua2014.csv'))
#data2012.info() --> pada saat dilihat jumlah izin usaha angkutan, tiap tahun mengalami penurunan
iaus = [jum2012,jum2013,jum2014]
iau=pd.DataFrame(iaus, columns = ['jumlah'])

   Name
0    46
1    39
2    28